body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-top: 5%;
}

.choices div {
    transition: opacity 0.3s ease-in-out;
}

.choices div:hover {
    opacity: 0.7;
    cursor: pointer;
    border: 5px solid #333;
}

img {
    height: 200px;
    width: 170px;
    object-fit: cover;
    border-radius: 8px;
}

.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.participant {
    padding: 0 20px;
}

#userScore,
#compScore {
    font-size: 40px;
    color: #333;
}

#text {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    padding: 10px;
    background-color: #333;
    color: aliceblue;
    border: 5px solid #1c1c1c;
    border-radius: 20px;
    text-align: center;
}
